	
	html {
		margin:0;
		padding:0;
		color:#000;
		background:#a7a09a;
	}

	#wrap {
		#width:80%;
		margin:0 auto;
		background:#b0b0b0;
	}

	#header {
    		#padding:5px 10px;
		background:#c0c0c0;
	}

	h1 {
	    margin:0;
        }

	#nav {
		padding:5px 10px;
		background:#b0b0b0;
	}

	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}

	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}

	#main {
		float:left;
		width:80%;
		margin: 5px;
		#padding:1px;
		background:#24241B;
		color: white;
	}

	#main textarea {
		width: 100%;
		background:#24241B;
		color: white;
		border:none;
		height: 100%;	
	}

	#main p {
		margin: 12px;
	}

	h2 {
		margin:0 0 1em;
	}

	#sidebar {
		float:right;
		width:15%;
		margin: 5px;
		#padding:10px;
		background:#b0b0b0;
	}

	#footer {
		clear:both;
                #padding:5px 10px;
		background:#d5d5d5;
	}

	#footer p {
		margin:0;
        }

	* html #footer {
		height:1px;
	}
